body {
  font-family: "HelveticaNeue-Light",
               "Helvetica Neue Light",
               "Helvetica Neue", 
               "Lucida Grande",
               Helvetica;
}

hr {
  color: #e3e3e3;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #252525;
}

a:hover {
  color: #f56565;
}

/* Responsive CSS */

@media screen and (max-width: 720px) {
    .profile {
      position: absolute !important;
      top: 0;
      width: 100% !important;
      height: 50px;
      min-height: 0px !important;
    }

    .content {
      position: relative !important;
      top: 60px !important;
      min-width: 0px !important;
      margin-left: 0px !important;
      padding-top: 0px !important;
    }
    
    .avatar {
      display: none;
    }
    
    .profile-wrap {
      position: relative !important;
      top: 0px !important;
      width: 100%;
      height: 100%;
    }
    
    .profile-text {
      position: relative !important;
      top: 15px;
      height: 30px;
    }

    .post-list {
      padding-left: 0px !important;
    }
    
    .detail-post {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
}

/* Section formatting */

.profile {
  width: 200px;
  z-index: 1;
  position: fixed;

  min-height: 100%;
}

.content {
  margin-left: 205px;
  z-index: 99999;

  min-width: 520px;
  padding-top: 100px;
  padding-bottom: 150px;
}

/* Profile-view formatting */

.profile-wrap {
  position: absolute;
  
  top: 35%;
  left: 0px;
  width: 100%;
  text-align: center;
}

.profile-text {
  font-family: "Helvetica Neue", 
               "Lucida Grande",
               Helvetica;

  font-size: 22px;
}

/* List-view specific post formatting */

.post-list {
  list-style-type: none;
  padding-left: 40px;
}

.list-post {
  padding-bottom: 50px;
}

.list-post-title {
  font-size: 20px;
}

.list-post-date {
  font-size: 14px;
  color: #959595;
}

/* Detail-view specific post formatting */

.detail-back {
  padding-bottom: 30px;
}

.detail-post {
  padding-left: 40px;
  padding-right: 40px;
}

.detail-post-title {
  font-family: "Helvetica Neue", 
               "Lucida Grande",
               Helvetica;

  font-size: 20px;
}

.detail-post-date {
  font-size: 14px;
  color: #959595;
}

.detail-post-content {
  padding-top: 30px;
  padding-bottom: 30px;
}